.color-box{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
  margin:0 auto;
  .color-item {
    width: 9%;
    margin: 13px;
    height: 170px;
    border-radius: 6px;
  }
}