.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  .search-input{
    border: none;
    margin: 33px;
    color: $black;
    font-size: 1.3em;
      &::placeholder{
        color: $grey;
      }
      &:focus{
        outline: 0;
      }
  }
  .selected-color {
    margin: 15px;
    // float: right;
  }
}