.color-box{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
  margin:0 auto;
  .color-item {
    width: 200px;
    margin: 13px;
    height: 170px;
    border-radius: 6px;
    position: relative;
      .add-button{
        position: absolute;
        top: auto;
        left: 15px;
        bottom: 15px;
        background: $white;
        display: flex;
        align-items: center;
        border:none;
        font-size: 13px;
        border-radius: 5px;
        outline: none;

    }
  }
}