.selector-holder-box{
  margin:0;
  padding:0;
  display: inline-block;
  position: relative;
  & >div {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    background: $white;

    &:first-child {
      border: 2px double $light-violet;
      z-index:1;
      top:0;
      right: 50px;
    }
    &:nth-child(2) {
      border: 2px double $violet;
      z-index:2;
      top:0;
      right: 30px;
    }
    &:nth-child(3) {
      border:2px solid $dark-violet;
      z-index:3;
      top:0;
      right: 10px;
    }
  }
}
.selected {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  &>div {
    position: absolute;
  }
  &:first-child {
      top:14px;
      right: 0px;
    }
  &:nth-child(2) {
      top:14px;
      right: 20px;
    }
    &:nth-child(3) {
      top:14px;
      right: 40px;
    }
    &:nth-child(4) {
      top:14px;
      right: 60px;
    }
    &:nth-child(5) {
      top:14px;
      right: 80px;
    }
  .material-icons {
    color: red;
    cursor: pointer;
    position: absolute;
    top: -5px;
    left: -5px;
    background: red;
    border-radius: 50%;
    font-size: 15px;

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Material Icons';
      content: 'close';
      color: #fff;
      font-size: 16px;
    }
  }
}

