.calculator {
  margin: auto;
  text-align: center;
  border: 2px solid rgb(128, 127, 127);
  border-radius: 1%;
  width: 30%;
  height: 30%;
  margin-top:10%;
}
.calc_form {
  height: 100%;
}
.calc_row {
  display: flex;
  justify-content: space-evenly;
}
.calc_display {
  text-align: center;
  font-size: 120%;
  border: 1px solid rgb(163, 159, 159);
  width: 100%;
  height: 35%;
  background: rgb(236, 234, 234);
}

.calc_key {
  cursor: pointer;
  font-size: 110%;
  border: 1px solid rgb(163, 159, 159);
  width: 25%;
  height: 30%;
  background: rgb(219, 217, 217);
}
.calc_key:hover {
  background: rgb(182, 181, 181);
}

.calc_plas {
  font-size: 170%;
}
 .calc_minus {
  font-size: 200%;
}
.calc_x {
  font-size: 120%;
}
.calc_division {
  font-size: 140%;
}
