body {
  background-color: #1C1C1F;
  font-family: serif;
  color: #A19E86;
}
h1{
  color: #A19E86;
  font-size: 36px;
}
.model {
  color: #D7D2B7;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.block:hover {
  background:#2C2C2C;
}
.block {
  height:22%;
  width: 16%;
  text-align: center;
  margin: 2% 0;
}
.imgTanks {
  margin-bottom: 8px;
  max-height: 100%;
  max-width: 100%;
}
.country {
  height: 14px;
  width: 23px;
  margin: 2px;
  vertical-align: 3px;
}
.level {
  margin: 3px;
  font-weight: 600;
  font-size: 18px;
  vertical-align: super;
  padding-top: 90%;
}
.model {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 60%;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  vertical-align: 2px;
}
.tank-details a {
  color: #a19e89;
  text-decoration: none;
  font-size: 1.1em;
}
.headline {
  font-size: 30px;
  font-weight: 600;
}
.label {
  padding: 0 10px;
}
.tank-details .level {
  font-size: 30px;
  vertical-align: baseline;
}
.flex {
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.5em;
  margin: 10px 0;
}
.preview {
  flex-basis: 43%;
}
.preview img {
  width: 100%;
}
.details {
  flex-basis: 57%;
}
table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  font-size: 17px;
  color: #d6d1ba;
}
td {
  border: 1px solid #a19e89;
  padding: 9px;
}
