/*

please don't edit this styles

*/


a:focus{color:#666;outline:0}ul{padding:0;margin:0}body{background-color:#f2f2f2;color:#000;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:16px;font-weight:300;padding-top:30px;overflow-x:hidden}.box,.tm-content-box,.tm-main-nav{background-color:#fff}.tm-sidebar{position:fixed;width:360px}.tm-main-nav{font-size:1.6667em;padding-top:15px;padding-bottom:10px;text-align:center}.tm-nav-item{list-style:none;width:100%;padding:15px 30px}.tm-nav-item-link{border:1px solid transparent;color:#666;display:block;padding:10px;width:100%;-webkit-transition:all .3s ease;transition:all .3s ease}.carousel-indicators li,.tm-banner-inner{border:1px solid #999}.flex-2-col,.tm-banner-inner{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox}.tm-nav-item-link.active,.tm-nav-item-link:hover{color:#666;text-decoration:none;border:1px solid #999}.tm-nav-item-link:focus{text-decoration:none}.tm-banner-text,.tm-banner-title,.tm-section-title{color:#666;font-weight:300;margin-top:0}.tm-section-title{margin-bottom:20px}.tm-section-title-box{margin-bottom:0}.tm-banner-title{font-size:3.3em;letter-spacing:2px;text-transform:uppercase}.tm-main-content{margin-left:360px;padding-left:30px}.tm-content-box{margin-bottom:30px}.pad{padding:50px}.tm-banner{height:370px;padding:30px}.tm-banner-inner{height:100%;text-align:center;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}.tm-banner-text{font-size:1.4em}.flex-2-col{display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.boxes,.tm-box-bg-title{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox}.flex-item{-webkit-box-flex:0 1 auto;-webkit-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto}.section-description{line-height:1.8;margin-bottom:25px}.section-description:last-child{margin-bottom:0}.tm-team-description-container{max-width:500px}.box{list-style:none;width:33.3333%;height:auto}.box-bg{position:relative}.tm-box-bg-title{position:absolute;top:0;right:0;bottom:0;left:0;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}.boxes{display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.gallery-container a{cursor:-webkit-zoom-in;cursor:zoom-in}.carousel{position:relative;height:auto;padding:50px 50px 80px;text-align:center}.carousel-indicators{bottom:30px}.carousel-content{color:#000;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.carousel-indicators .active{background-color:#999}.contact-form{overflow:hidden}.form-control{border-radius:0;font-size:1em}.form-control:focus{border-color:#999;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(153,153,153,.45)}.form-group{margin-bottom:20px}.form-group-2-col-left{padding-left:0;padding-right:5px}.form-group-2-col-right{padding-right:0;padding-left:5px}.submit-btn{border-radius:0;background:0 0;border:1px solid #999;color:#999;float:right;font-size:1.4em;font-weight:300;padding:15px 60px;-webkit-transition:all .3s ease;transition:all .3s ease}.submit-btn:active,.submit-btn:active:focus,.submit-btn:active:hover,.submit-btn:focus,.submit-btn:hover,.submit-btn:visited{background:#999;border:1px solid #999;color:#fff}.tm-footer{color:#666;padding-bottom:15px}


/* 1 task*/
@media print {
  .tm-sidebar,
  section:nth-child(3),
  section:nth-child(4),
  section:nth-child(5),
  section:nth-child(6),
  #about{
    display: none;
   }

  .tm-banner{
    height: 250px;
    }
    .container{
      max-width: 715px;
    }
   .tm-main-content{
     margin: 0;
   }
   .tm-banner{
    margin: 0 0 -30px 0;
   }
   .flex-2-col{
     display: block;
   }
   h2.tm-section-title{
     color: #1f2eff;
   }
   .tm-team-description-container,
   .tm-section-title{
     max-width: 100%;
   }
   .flex-item:nth-child(2){
     text-align: center;
     margin: -30px 0 0 0;
   }
}

@media screen {
  /* 2 task */
  .gallery-container{
    margin: 0 -1px 0 0;
   }
   .box:first-child,
   .box:nth-child(4),
   .box:nth-child(5){
    border-bottom: 0!important;

   }
    .box:nth-child(2),
    .box:nth-child(3),
    .box:nth-child(6){
      border-bottom: 0!important;
      border-left:0!important;

    }


     .box:nth-child(5),
     .box:nth-child(8),
     .box:nth-child(9){
       border-left: 0!important;
     }
}
 /* 3 task */
 p::first-letter{
   color: #76cdd7;
   font-size: 30px;
 }

 /* 4 task */
 .tm-sidebar,
 .tm-content-box{
   box-shadow: 1px 1px 10px 3px rgba(181, 181, 181, 0.9);
 }

 /* 5 task */
 a img{
   border: 2px solid silver;
 }

 /* 6 task */
 .carousel-content:first-child h2{
   color:gainsboro;
   letter-spacing: 5px;
 }

  /* 7 task */
   h2+p{
     font-style: italic;
   }

/* 8 task */
      section:nth-child(2) .tm-section-description{
        line-height: 2em;
        text-indent: 20px;
      }

      /* 9 task */
      .heading h2{
        text-align: center;
        color: #00cdcd;
      }
      .heading a{
        color:#000;
      }
      .heading a:hover{
        color:#00b2ee;
      }
      .heading a:visited{
        color: #b5b5b5;
      }
      .heading ol li:nth-child(n+4) a::after,
      .heading ol li:nth-child(2) a::after
      {
        content: '.';
      }

      .heading li:nth-child(1) a::after,
      .heading li:nth-child(3) a::after{
        content: 'New';
        color: red;
        vertical-align: super;
        font-size: 80%;
      }
    /* --10 task-- */
    .blocks li:nth-child(1),
    .blocks li:nth-child(3),
    .blocks li:nth-child(5){
      background-color:#e8e8e8;
    }
    .blocks p::first-letter{
      color:#000;
    }
    .blocks p{
      font-size: 23px;
    }


/* 11 Task */
.tm-main-nav li{
  border-bottom: 1px solid silver;
}
.tm-main-nav li:last-child{
  border-bottom: 0;
}


/* __12 task__ */
input[type=text], button[type=submit]{
  color: red;
}

    }
/*
13 task */
@media screen and (max-width: 1139px), screen and (max-height: 779px){
  .tm-sidebar{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    border-top: 1px solid silver;
    z-index: 10;
  }
  .container{
    display: flex;
    justify-content: center;
  }

  .tm-main-nav {
    padding: 0;
    }

    .tm-main-nav ul{
      display: flex;
    }

    .tm-sidebar
    .tm-main-nav li{
      border:none;
      padding: 0;
      font-size: 0.5em;
    }

    .tm-main-content{
      padding-left: 0;
      max-width: 65%;
      margin: 60px auto 0;
      z-index: 5;
    }

    .tm-content-box{
      margin-bottom: 25px;
    }
}
