body{
  font-family: 'Open Sans', sana-serif;
  background-color: #F3F3F3;
  margin:0;
}
/* .btn-sub{
  background-color: #000;
  padding: 0 6px;
  color: #fff;
} */
.grid{
  display: grid;
}

header{
  background-image: url(../img/apples.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
header .header-container{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 500px;
  justify-items:center;
  align-items: start;
}
header .header-container .FirstLogo{
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-left: 100px;
  justify-self: stretch;
}
header .header-container li{
  display: inline-block;
  font-size: 15px;
}
header .header-container li a{
  display: block;
  text-decoration: none;
  color: #fff;
  margin-right: 50px;
}
header .header-container li a::after{
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  transform: scaleX(0);
  background-color: #B7C8D9 ;
  transition: all 0.3s;
  margin-top: 6px;
}
header .header-container li a:hover::after{
  transform: scaleX(1);
}
header .Secondlogo{
  grid-column: 1/3;
  grid-self: start;
}
header .Secondlogo h1{
  text-align: center;
  font-weight: normal;
  letter-spacing: 10px;
  color: #fff;
  font-size: 45px;
  margin-bottom: 0;
  margin-left: 60px;
  position: relative;
}
header .Secondlogo h1 span:first-child{
  font-size: 90px;
}
header .Secondlogo h1 span:nth-child(2){
  font-size: 45%;
  display: inline-block;
  top: 40%;
  position: absolute;
}
header .Secondlogo p{
  margin-top: 0;
  margin-right: 10px;
  text-align: center;
  color: #fff;
  font-size: small;

}
main{
  background-color: #fff;
}
input[type="submit"]{
  position: absolute;
  bottom: 11%;
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 200px;
  font-size: 12px;
  padding: 12px 60px;
  margin-left: 200px;
}
input[type="submit"]:hover{
  color: #000;
  background: #fff;
  border: 2px solid #000;
}
.TextLorem{
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 80px 90px;

}
.TextLorem  p:first-child{
  font-size: 20px;
}

.ReadMore{
  padding: 90px;
  background-color: #F4F4F4;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:20px;
}
.ReadMore h2{
  text-align: center;
  font-weight: normal;
  margin-bottom: 50px;
  grid-column: 1/-1;
}
.ReadMore div:nth-child(2){
  grid-column: 1/3;
 background-image: url(../img/sample.jpg);
}
.ReadMore div:nth-child(n+3):nth-child(-n+4){
  background-image: url(../img/sample2.jpg);
}
.ReadMore div:nth-child(5){
  grid-column: 2/4;
  background-image: url(../img/sample3.jpg);
}
.ReadMore div:nth-child(6) {
  margin: 60px 0 80px 0;
  background-color: #fff;
  padding: 35px 70px;
  grid-column: 1 / -1;
  grid-template-columns: 2fr 2fr 1fr;
}
.ReadMore div:nth-child(6) p{
  justify-self:center;
  font-size: 20px;
}
.ReadMore div:nth-child(6) input{
  border: 1px solid #000;

}
.ReadMore .email{
  background-color: #F4F4F4;
  padding: 0 10px;

  height: 57px;
}
.ReadMore .button{
  background: #343638;
  color: #fff;
  padding: 0 6px;
  border: 2px solid #343638;
  height: 59px;
}
.ReadMore .email::placeholder{
  color: #000;
  padding: 5px;
  font-size: 15px;

}
.ReadMore .read-item{
  min-height: 40vh;
  background-size: cover;
  background-position: center;
  //padding: 5px;
  color: #fff;
  border: 1px solid #fff;
  position: relative;
  box-shadow: inset 3px -43px 48px -11px rgba(52, 54, 56, 0.9);
}
.ReadMore .read-item span:first-child {
  align-self: start;
  justify-self: end;
  padding: 11px;
  border: 2px solid #fff;
  background-color: #343638;
  opacity: .90;
  position: absolute;
  top: 5%;
  right: 15px;

}

.ReadMore .read-item span:first-child a {
  text-decoration: none;
  color: #fff;
}
.ReadMore .read-item span:nth-child(2) {
  align-self: end;
  margin-bottom: 30px;
}
.ReadMore .city{
    margin-top: 248px;
    margin-left: 35px;
    letter-spacing: 1px;
    font-size:  16px;


}
.columns {
  padding: 90px 90px;
  grid-template-columns: repeat(3, 1fr) 2fr;
  grid-column-gap: 40px;
  color: #9e9e9e;
}
.columns h3 {
  color: #000;
}
.columns .contact{
  line-height: 35px;
  margin: 10px 0;
}
/* .columns .SmallEmail{
  padding: 13px 5px;
  border: 1px solid #000;
}
.columns .SmallEmail .placeholder {
  padding: 13px 10px;
  background-color: #F4F4F4;
  font-style: italic;
  color: #000;
  border: 1px solid #000;
} */
.columns .time {
  color: #e8e8e8;
}
.columns .btn-sub{
  grid-template-rows: 1fr 1fr ;
}
.btn-sub{
  float: right;
  width: 70%;
}
.btn-sub input {
   border: 1px solid #000;
  height: 38px;
  width: 58%;
  margin: 36px 0px 0 0;
  background: #f3f3f3;
}

.btn-sub button{
  height: 42px;
  width: 31%;
  background: #343638 ;
  border: 2px solid #343638;
  color: #fff;
  cursor: pointer;
  margin-left: -4px;

}

.btn-sub button:hover{
  color: #000;
  background: #ffffff;
}

hr {
  color: #F0F0F0;
  border: none;
  height: 20%;
  width: 50px;
}

footer {
  padding: 0 90px;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fff;
}
footer nav {
  justify-self: end;
}
footer li {
  display: inline-block;
  margin-left: 30px;
}
footer li a {
  text-decoration: none;
  color: #000;
}
footer p {
  color: #9e9e9e;
}
