body {
  background-color: #1C1C1F;
  font-family: serif;
  color: #A19E86;
}
h1{
  color: #A19E86;
  font-size: 36px;
}
.model {
  color: #D7D2B7;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.block:hover {
  background:#2C2C2C;
}
.block {
  height:22%;
  width: 16%;
  text-align: center;
  margin: 2% 0;
}
.imgTanks {
  margin-bottom: 8px;
  max-height: 100%;
  max-width: 100%;
}
.country {
  height: 14px;
  width: 23px;
  margin: 2px;
  vertical-align: 3px;
}
.level {
  margin: 3px;
  font-weight: 600;
  font-size: 18px;
  vertical-align: super;
  padding-top: 90%;
}
.model {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 60%;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  vertical-align: 2px;
}
a {
  text-decoration: none;
  color: #A19E86;
}

table {
  border-collapse: collapse;
}

caption {
  text-align: left;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

table, th, td {
  border: 1px #A19E86 solid;
}

td {
  padding: 10px;
}

td:nth-child(1) {
  width: 35vw;
}

td:nth-child(2) {
  width: 15vw;
}

