$BackgroundColor: rgba(198, 238, 252, 0.53);
//content
$BackgroundContent: #3b3b3b;
$Fontcolor: #fff;
$FormColor:#f5c70f;

$hncolor: #fccd10;
//size
$fontsize: 16px;
$padding: 20px;
$widthContent: 960px;
$center: 0 auto;
//img
$paddingImg: 2px;
$borderImg: 2px;
$marginLeft: 0 20px 10px 0;
$marginRight: 0 0 0 15px;
//brief
$briefColor: #fff178;
$marginBrief: 0 20px 35px 0;
$widthBrief: 100%;
$BriefPadding: 15px 15px;
$FontBriefColor: #000;
$left:none;

$linkColor: #fccd10;
//table
$backgroundTh: #94a34e;
$bordertable: 1px solid $backgroundTh;
$marginTable: 0 60px 60px 0;
$backgroundTable: #677d01;
//form
$subborder: 1px solid $linkColor;
