$BackgroundColor: #dcbb9a;
//content
$BackgroundContent: #fff;
$Fontcolor: #000;
$FormColor:  #808080;

$hncolor: #893c00;
//size
$fontsize: 16px;
$padding: 20px;
$widthContent: 960px;
$center: 0 auto;
$TextTransform: none;
//img
$paddingImg: 2px;
$borderImg: 2px;
$marginLeft: 0 20px 10px 0;
$marginRight: 0 0 0 15px;
//brief
$briefColor: #fadcba;
$marginBrief: 0 20px 10px 0;
$widthBrief: 425px;
$BriefPadding: 20px;
$FontBriefColor: $Fontcolor;
$left: left;
//link
$linkColor: #3d70a1;
//table
$backgroundTh: #e0e0e0;
$bordertable: 1px solid $backgroundTh;
$marginTable: 0 60px 60px 0;
$backgroundTable: #fff;

//submit
$subborder: 1px solid $linkColor;
