body {
  background-color: #dcbb9a;
  color: #000;
  font-size: 16px; }

#content {
  padding: 20px;
  max-width: 960px;
  background-color: #fff;
  margin: 0 auto; }

h1 {
  text-align: center;
  text-transform: none;
  color: #893c00; }

h2 {
  color: #893c00; }

img.img-left {
  float: left;
  margin: 0 20px 10px 0;
  padding: 2px;
  border: 2px solid #893c00; }
img.img-right {
  float: right;
  margin: 0 0 0 15px;
  padding: 2px;
  border: 2px solid #893c00; }

.brief {
  background-color: #fadcba;
  margin: 0 20px 10px 0;
  width: 425px;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  color: #000; }

a {
  color: #3d70a1; }

table {
  margin: 0 60px 60px 0;
  border-collapse: collapse;
  background-color: #fff; }

caption {
  text-align: right;
  color: #000; }

th {
  text-align: left;
  text-transform: uppercase;
  background-color: #e0e0e0;
  padding: 10px 20px;
  border-right: 2px solid #fff;
  color: #000; }

th:nth-child(3) {
  border-right-color: #e0e0e0; }

td {
  padding: 10px 10px;
  border-bottom: 1px solid #e0e0e0; }

.UserName, .UserLastName {
  display: inline-block; }

.UserName {
  padding: 0 5px 0 0;
  width: 49%; }

.UserLastName {
  width: 50%; }

input {
  width: 100%;
  margin: 9px 0 14px 0; }

textarea {
  width: 100%; }

.UserData p {
  color: #808080;
  text-transform: uppercase; }

input[type="submit"] {
  border: 1px solid #3d70a1;
  background-color: #fff;
  font-size: 20px;
  color: #3d70a1;
  width: 240px;
  margin: 20px 0;
  padding: 10px 60px; }
